<h2>概要</h2>

<p>ヤフオクでの違反通告を支援するツールです。

<p>ユーザ名あるいは用語で検索して商品一覧を表示し、
違反通告ボタンを押すことで報告できます。

<p>フォームはアプリで設置していますが、ヤフオクのサイトにpostしてるだけで、
ユーザ情報等はアプリで取得はしていません。


<h2>コンタクト</h2>

<ul>
  <li>作者： 小高あたる (<a href="http://twitter.com/ataru_kodaka">@ataru_kodaka</a>)
  <li> ソース：http://github.com/atarukodaka/yahuoku-busters
</ul>

