  <% form_tag("/user", method: "post") do %>
ユーザー名<%= text_field_tag(:user, size: 20) %>

   
<%= submit_tag("view") %>
<% end %>

<h2>recommended users to apply for review of violation</h2>

<ul>
<% recommended_users.each do |user| %>
  <li><a href="/user/<%= user %>"><%= user %></a></li>
<% end %>
</ul>

