
<h2>user: <%= link_to(h(user), "http://sellinglist.auctions.yahoo.co.jp/user/#{h(user)}") %></h2>

<%= partial('auctions', locals: {auction_list: auction_list, total: total}) %>

<nav>
  <ul class="pagination">
    <% first_number = auction_list.first[:number] %>
    <% current_page = ((first_number - 1) / per_page).to_i + 1 %>
    <% last_page = (total / per_page).to_i + 1 %>
    <% last_page.times.each do |i| %>

    <% if i + 1 == current_page %>
    <li class="active"><%= link_to(i + 1, "./#") %></li>
    <% else %>
    <li><%= link_to(i+1, "/user/#{user}/#{i+1}") %></li>
    <% end %>
    <% end %>
  </ul>
</nav>
